<!doctype html>
<html>
    <head>
        <link
            href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Serif+Grantha&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <header>
            <div class="max-w nav-bar">
                <div>
                    <h1 class="grantha">॥𑌪𑌾𑌠𑌶𑌾𑌲𑌸𑍍𑌯 𑌵𑌿𑌵𑌰𑌣𑌾𑌯 𑌅𑌨𑍁𑌪𑍍𑌰𑌯𑍋𑌗𑌃॥</h1>
                </div>
            </div>
        </header>
        <div class="text-box">
            <section>
                <h1 style="color: white">Add To The Database</h1>
                <form>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="formData.name"
                                name="Name"
                            />
                        </mat-form-field>
                    </p>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Age</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="formData.age"
                                name="Age"
                            />
                        </mat-form-field>
                    </p>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Gothra</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="formData.gothra"
                                name="Gothra"
                            />
                        </mat-form-field>
                    </p>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Father</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="formData.father"
                                name="Father"
                            />
                        </mat-form-field>
                    </p>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Join Date</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="formData.joinDate"
                                name="Join Date"
                            />
                        </mat-form-field>
                    </p>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Samhita</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="formData.samhita"
                                name="Samhita"
                            />
                        </mat-form-field>
                    </p>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Brahmana</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="formData.brahmana"
                                name="Brahmana"
                            />
                        </mat-form-field>
                    </p>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Aranyaka</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="formData.aranyaka"
                                name="Aranayaka"
                            />
                        </mat-form-field>
                    </p>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Sanskrit</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="formData.sanskrit"
                                name="Sanskrit"
                            />
                        </mat-form-field>
                    </p>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Grade</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="formData.grade"
                                name="Grade"
                            />
                        </mat-form-field>
                    </p>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Behaviour</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="formData.behaviour"
                                name="Bahaviour"
                            />
                        </mat-form-field>
                    </p>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Student ID</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="formData.id"
                                name="Id"
                                required
                            />
                        </mat-form-field>
                    </p>
                </form>
                <button mat-raised-button (click)="addToDataBase();">
                    Add To Database
                </button>
            </section>
            <section>
                <h1 style="color: white">Search & Edit The Database</h1>
                <form>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="request.name"
                                name="Name2"
                            />
                        </mat-form-field>
                    </p>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Age</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="request.age"
                                name="Age2"
                            />
                        </mat-form-field>
                    </p>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Gothra</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="request.gothra"
                                name="Gothra2"
                            />
                        </mat-form-field>
                    </p>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Father</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="request.father"
                                name="Father2"
                            />
                        </mat-form-field>
                    </p>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Join Date</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="request.joinDate"
                                name="Join Date2"
                            />
                        </mat-form-field>
                    </p>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Samhita</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="request.samhita"
                                name="Samhita2"
                            />
                        </mat-form-field>
                    </p>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Brahmana</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="request.brahmana"
                                name="Brahmana2"
                            />
                        </mat-form-field>
                    </p>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Aranyaka</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="request.aranyaka"
                                name="Aranyaka2"
                            />
                        </mat-form-field>
                    </p>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Sanskrit</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="request.sanskrit"
                                name="Sanskrit2"
                            />
                        </mat-form-field>
                    </p>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Grade</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="request.grade"
                                name="Grade2"
                            />
                        </mat-form-field>
                    </p>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Behaviour</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="request.behaviour"
                                name="Bahaviour2"
                            />
                        </mat-form-field>
                    </p>
                    <p class="thin">
                        <mat-form-field>
                            <mat-label>Student ID</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="request.id"
                                name="Id2"
                            />
                        </mat-form-field>
                    </p>
                </form>
                <div class="text-box1">
                    <button mat-raised-button (click)="getInfo()">
                        Search
                    </button>
                    <button mat-raised-button (click)="saveEdits()">
                        Update Info
                    </button>
                    <button mat-raised-button (click)="delete()">Delete</button>
                </div>
            </section>
        </div>

        <div class="list">
            <section>
                <table class="list-table">
                    <tr>
                        <th>Name</th>
                        <th style="text-align: right">Id</th>
                    </tr>
                    <tr *ngFor="let val of request2">
                        <td>{{val.name}}</td>
                        <td style="text-align: right">{{val.id}}</td>
                    </tr>
                </table>
            </section>
        </div>
    </body>
</html>
